body{
    background-color: whitesmoke;
}

/* Style the top navigation bar */
.topnav {
    margin-top: 15px;
    overflow: hidden;
    background-color: limegreen;
    border-radius: 40px;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#map{
    width: 98%;
    height: 550px;
    margin-left: 13px;
    border: solid 1px black;
}